@import "tailwindcss";

@theme {
    --color-brandColour: #01248C
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slow-rotate {
  animation: slow-spin 20s linear infinite;
}